@import "../../../styles/styles.scss";
@import "../../../styles/variables.scss";

.card {
  max-width: 360px;
  height: auto;
  background-color: #fff;
  margin-bottom: 0;
  padding-bottom: 0;

  border-radius: 10px;
}

.card:hover {
  box-shadow: $box-shadow;
}

.card_image {
  width: 100%;
  height: 360px;
  border-radius: 10px 10px 0 0;
}

.card_container {
  margin-top: -4px;
  padding: $space-xl $space-xs;

  display: flex;
  flex-direction: column;
  gap: $space-xxs;
}

.card_caption {
  color: $text-secondary-color;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 8px;

  display: flex;
  align-items: center;
  gap: 10px;
}

.card_title {
  color: $text-primary-color;
}

.card_subtitle {
  color: $text-secondary-color;
}

.footer_container {
  width: 100%;
  max-height: 52px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $space-xxs;
  align-self: stretch;
  border-radius: 0;
}

.card_content {
  color: $brand-color;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}

.card_action {
  border-radius: 10px;
}
