@import "./Roboto/fonts";
@import "./variables.scss";

html,
body {
  font-family: "Roboto";
  width: 100%;
  margin: 0;
  background-color: $page-bg-color;
}

button:hover {
  border-color: transparent;
}

body {
  display: block !important;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
pre {
  margin: 0;
}
