$brand-color:#B5460F;
$page-bg-color:#F7E8D7;
$button-primary-bg-color: #B5460F;
$text-accent-color: #B5460F;
$text-primary-color: #151411;
$text-secondary-color: #AFADB5;
$button-primary-bg-hover-color: #B5460FB2;
$button-primary-bg-disabled-color: #D9D9D9;
$button-primary-text:#fff;


$content-block-width:1240px;

