$brand-color: #b5460f;
$page-bg-color: #f7e8d7;
$button-primary-bg-color: #b5460f;
$button-primary-bg-disabled: #d9d9d9;
$text-accent-color: #b5460f;
$text-primary-color: #151411;
$text-secondary-color: #afadb5;
$button-primary-bg-hover-color: #b5460fb2;
$button-primary-bg-disabled-color: #d9d9d9;
$button-primary-text: #fff;
$default-color: #fff;

$box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);

$border-radius: 10px;

$content-block-width: 1240px;

$space-xxs: 8px;
$space-xs: 12px;
$space-s: 14px;
$space-m: 16px;
$space-l: 20px;
$space-xl: 24px;
