@import '../../styles/variables.scss';
.header{
    background-color: #fff;
}
.header__inner {
    width: 100%;
    max-width: $content-block-width;
    height: 64px;

    margin: 0 auto;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__navigation {
    width: 40%;

    margin-left: -200px;

    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.header__navigation_element {
    cursor: pointer;
}

.header__navigation_element:hover {
    color:$brand-color;
}

.header__user-menu {
    display: flex;
    align-items: center;
    gap: 20px;
}